
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

*{
    font-family: 'PyeongChangPeace-Light';
}
#contentbox{
    height : 80vh; /*  viewport height */
    overflow: scroll; /* 내용물이 넘쳤을때 스크롤 사용 */
}